<div class="logo"></div>
<div class="app-title">
    <h1>T<small>ogether</small></h1>
    <span>The chat for future</span>
    <button class="user_btn">
        <span>Login with Google</span>
    </button>
</div>

<div class="app_footer">
<span class="new-alert">New to Together?? Signup Now</span>
<button class="user_btn">
    <span>Signup with Google</span>
</button>
</div>

   


<script defer src="/javascript/homepage.js"></script>


